.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 654px;
  align-items: center;
  color: white;
  background-color: black;
  padding: 50px 10%;
}

.footer-logo {
  margin: 0 0 2rem 0;
}

.footer-responsive {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 148px;
}

.footer div p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    align-items: flex-start;
    height: 400px;
  }

  .footer-responsive {
    align-items: flex-start;
  }

  .footer-links {
    width: 80%;
  }

  ul.footer-links {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  .footer-links-wrapper {
    width: 100%;
  }

  .footer div p {
    text-align: left;
  }

  .footer-responsive-wrapper-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    height: 365px;
  }

  .footer-responsive-wrapper-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-logo,
  .footer-links-wrapper {
    width: 50%;
  }

  .footer-links {
    margin: 0;
    width: 100%;
  }

  .footer-logo {
    margin: 0;
  }
}
